@tailwind base;

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

p {
    @apply py-2;
}

a {
    @apply font-semibold;
    color: #6b3b23;
}

a:hover {
    @apply underline;
}

ol {
    list-style: decimal;
    padding-left: 1rem;
}

@tailwind components;
@tailwind utilities;

.prayer-name {
    @apply font-semibold;
}